<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Homepage</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  
</head>
<body>
  <nav class="black" role="navigation" id="nav">
    <div class="nav-wrapper container ">
      <a id="logo-container" href="#" class="brand-logo white-text">Homepage</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="login.html" class="white-text">Login</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="register.html" class='white-text'>Sign-Up</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#features" class='white-text'>Features</a></li><span class="mbri-info mbr-iconfont mbr-iconfont-btn"></span>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#About_Us" class='white-text'></a></li><span class="mbri-info mbr-iconfont mbr-iconfont-btn"></span>
      </ul>
     <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
      
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text ">Homepage</h1>
        <div class="row center">
          <h5 class="header col s12  white-text">A Simple and Convenient Way to Buy and Sell Online.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background4.jpg"alt="Unsplashed background img 1" width=20 height=400></div>
  </div>


  <div class="container ">
    <div class="section ">

      <!--   Icon Section   -->
      <div class="row " id="features">
        <div class="col s12 m4 ">
          <div class="icon-block  ">
            <h2 class="center brown-text"><i class="material-icons">add_shopping_cart</i></h2>
            <h5 class="center brown-text">Easy Access to A range of Products</h5>

            <p class="brown-text">Choose from a variety of items sold by our trusted dealers.The product is inspected by our Customer Satisfaction Team before it's Dispached! </p>
          </div>
        </div>

        <div class="col s12 m4 ">
          <div class="icon-block ">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center brown-text">User Experience Focused</h5>

            <p class="brown-text">To make your Shopping Experience Seamless,we have designated a team to quickly resolve any issues and answer queries by mail or messages. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center brown-text">Easy to work with</h5>

            <p class="brown-text">Buyers and Sellers have been provided with different login sites to ensure only required information to be presented,either to the buyer or the seller. We are also always open to feedback and can answer any questions a user may have about """"""""""""""""".</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 white-text">A Modern Approach and a Common Platform for all Users</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 2" width="170" height="600"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Postface</h4>
          <p class="left-align black-text">Blah blah blah...................................................................................................................................................................................................................................................................................................................................................................................<br></br> </p>
        </div>
      </div>

    </div>
  </div>


 

  <footer class="page-footer teal" id="About_Us">
    <div class="container" id="About_Us">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of students working on this project. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact Us</h5>

          <ul>
            <li><a class="white-text" href="#!">Gautham</a></li>
            <li><a class="white-text" href="#!">Supreeth</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Mail/Contact</h5>
          <ul>
            <li><a class="white-text" href="#!">abc@gmail.com/0987654321</a></li>
            <li><a class="white-text" href="#!">xyz@gmail.com/1230456789</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn"hoverEnabled='true'>
  <a class="btn-floating btn-large red"hoverEnabled='true'>
    <i class="large material-icons"hoverEnabled='true'>accessibility</i>
  </a>
  <ul>
    <li><a class="btn-floating red" href="#nav"><i class="material-icons">arrow_upward</i></a></li>
    <li><a class="btn-floating yellow darken-1"href="#index-banner"><i class="material-icons">assignment</i></a></li>
    <li><a class="btn-floating green"href="#About_Us"><i class="material-icons">comment</i></a></li>
  </ul>
</div>
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="#index-banner">Supreeth and Gautham</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="text/javascript">$(document).ready(function(){
    $('.floating-action-btn').floatingActionButton();</script>
  <script type="text/javascript">document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.fixed-action-btn');
    var instances = M.FloatingActionButton.init(elems, options);
  });
	instance.open();</script>


  </body>
</html>

